/* Page Layouts */

/*==================================================
===================* Mixins *=======================
==================================================*/
// headings mixin for applying to (h1..h6)
@mixin headings($from: 1, $to: 6) {
  @for $i from $from through $to {
    h#{$i} {
      @content
    }
  }
}

@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

/*==================================================
===================* Alignment *=====================
==================================================*/

// Helps center elements and gives margin
@include headings() {
  margin-left: 10%;
}

p, small {
  margin-left: 10%;
}

.pull-right{
  margin-left: 5%;
}

/*==================================================
==============* Default-Stylings *==================
==================================================*/

.card-bottom {
  margin-top: 50%;
}

/***************************************************
******************** Media Queries *****************
***************************************************/

/*==================================================
===================* Phone *========================
==================================================*/
// only screen and (max-width: 600px);

/*==================================================
===================* Tablet *=======================
==================================================*/
// only screen and (min-width: 601px)
// and (max-width: 840px);

/*==================================================
===================* Desktop *======================
==================================================*/
// only screen and (min-width: 841px);
